<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input id="text" type="text" name="text" [(ngModel)]="text" placeholder="Add Task" />
  </div>
  <div class="form-control">
    <label for="day">Day and Time</label>
    <input id="day" type="text" name="day" [(ngModel)]="day" placeholder="Set Time and Date" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input id="reminder" type="checkbox" name="reminder" [(ngModel)]="reminder" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>